@media all and (min-width: 768px) {
  .nav .fa {
    display: none;
  }
}

.thumbnail {
  height: 200px;
  min-width: 300px;
  margin-bottom: 0px;
}

.box {
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.col-lg-4, .col-sm-12, .col-xs-12 {
  padding: 20px;
}

.new-h2 {
  font-size: 25px;
  padding: 0px;
}

a {
  color: black;
}

.new-h2 .btn-default {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
