#main {
  padding-top: 25%;
}

body {
  height: 100%;
  text-align: center;
  font-weight: bold;
}

html {
  height: 100%;
}

.container {
  height: 100%;
}

#footer {
  position: absolute;
	bottom: 0;
  right: 0;
  margin-right: 0;
  margin-bottom: 0;
	width: 100%;
  background: #444C58;
}

#footer div p {
    color: #F2F4F5;
    padding: 10px;
    margin: 0;
}

.btn-lg {
  width: 140px;
  margin: 0 15px;
}
