h4.padd-left {
  padding-left: 15px;
}

div.proj-card:hover {
  background-color: #B4BBC3;
}

div.proj-cont {
  margin-top: 20px;
}

.progress {
  background-color: #A5DAD4;
}

.progress-bar {
  background-color: #FF6B3C;
}

a, a:hover, a:active, a:visited {
  color: #444C58;
}

hr {
  color: #26A599;
}
@media all and (min-width: 768px) {
  .nav .fa {
    display: none;
  }

  #pencil {
    display: none;
  }
}

.new-h2 {
  font-size: 25px;
  padding: 0px;
}

.new-h1 {
  font-size: 35px;
  padding: 0px;
}

.new-h3 {
  font-size: 20px;
  padding: 0px;
}


a {
  color: #444C58;
}

img {
  border: 1px solid #444C58;
}

.box {
  padding: 0px 20px;
}

.progress{
  margin-top: 10px;
}

.thumb-proj {
  min-height: 190px;
  margin-bottom: 0px;
  min-width: 300px;
  margin-bottom: 0px;
}

.thumb-skill {
  min-height: 110px;
  margin-bottom: 0px;
  min-width: 300px;
  margin-bottom: 0px;
}

.progress {
  margin-bottom: 0px;
}

@media all and (max-width: 768px) {
  .btn-default {
    display: none;
  }

  #center {
    text-align: center;
  }
}
