@media all and (min-width: 768px) {
  .nav .fa {
    display: none;
  }

  #oi {
    display: none;
  }
}

.new-h2 {
  font-size: 25px;
  padding: 0px;
}

.new-h1 {
  font-size: 35px;
  padding: 0px;
}

.new-h3 {
  font-size: 20px;
  padding: 0px;
}


a {
  color: black;
}

img {
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.thumbnail {
  height: 150px;
  min-width: 300px;
  margin-bottom: 0px;
}

.box .col-lg-12 {
  padding: 20px;
}

@media all and (max-width: 768px) {
  .btn-default {
    display: none;
  }
}
