@media all {
  .thumbnail {
    height: 200px;
    min-width: 300px;
    margin-bottom: 0px;
  }

  .no-padding {
    padding: 0px;
  }
  div.user-image {
    height: 100px;
    /*width: 80px;*/
    background-image: url("http://cdn3.rd.io/user/no-user-image-square.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.card-content {
    border: 1px solid #BCBCBC;
    margin: 5px;
  }

  div.mission-info {
    background-color: #EEEEEE;
  }

  .modal-body {
    max-height: 700px;
    overflow-y:scroll;
  }

  .proj-show-on-edit {
    display: none;
  }

  .miss-show-on-edit {
    display: none;
  }

  .quest-show-on-edit {
    display: none;
  }


}
