body {
  margin: 0 auto;
  text-align: center;
}

.form-horizontal {
  width: 30%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

h1 {
  margin-top: 10%;
  margin-bottom: 3%;
  text-transform: uppercase;
}

label {
  text-transform: uppercase;
}

@media all and (min-width: 992px) {
  #box1 {
  background-color: #A5DAD4;
    height: 560px;
  }

  #box2 {
  background-color: #A5DAD4;
    height: 560px;
  }

  #box3 {
    height: 460px;
    border-left: 2px solid #444C58;
    background-color: #A5DAD4;
    margin-top: 50px;
  }

  div#box3 h3 {
    padding-top: 35%;
  }
}
